@using Schmansible.Component

<div class="col-4 float-left" style="margin-bottom:2%">
    <div class="card">
        <div class="card-header">Sorry</div>
        <div class="card-body">
            We dug around and didnt find any files.
            <br />
            <br />
            Go create some!
        </div>
    </div>
</div>

@code {

}
